body {font-family:'Bai Jamjuree' !important ;}
section {padding-top: 10%; max-width: 100%;}
div {max-width: 100%;}
img {max-width: 100%;}
.logo {margin-left: auto;margin-right: auto;display: block;}
.heading { font-weight: bold !important; color: hsl(210, 10%, 33%) !important; text-align: center;} 
h5 {text-align: left !important;}
h2 { font-weight: bold !important; color: hsl(210, 10%, 33%) !important; text-align: center;} 
p {color: hsl(201, 11%, 66%);}
.heading_para {text-align: center;color: hsl(201, 11%, 66%); max-width: 620px; margin-right: auto;margin-left: auto;}
.btn{border-radius: 100px !important; margin: 0 auto; box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
     padding-right: 1.5% !important;padding-left: 1.5% !important ;color: white;}
.btn--primary {background-color:hsl(171, 66%, 44%) ; margin-right: 3vw;}
.btn--primary:hover {background-color:hsl(171, 64%, 42%) ;}
.btn--secondary {background-color:hsl(233, 100%, 69%) ;}
.btn--secondary:hover {background-color:hsl(233, 67%, 60%) ;}
.col-md-4 {margin-left: 5%!important ;}
.second_right {margin-top: 7%; margin-left: 8%;}
section >  div > div >  p {text-align: left;}
div h4 {text-align: left !important  ;}
.tools_icon {height: 38px; width: auto;}
.w-75 {max-width: 100% !important; margin: 0 auto !important;}
ul {list-style: none; margin-left: auto !important; margin-right: auto !important; max-width: 85%; margin-top: 5vw !important; margin-bottom: 0px !important;}
footer {background-color: hsl(0, 0%, 87%); margin-top: 5%;}
footer >div >div > img {max-width: 100px !important; max-height: 100px !important; margin-top:5%; margin-bottom: 3%;}
a {color:black !important ; }
a:hover {color:hsl(171, 66%, 44%) !important ; }
.fab {color: hsl(210, 10%, 33%);  }
.fab:hover {color:hsl(171, 66%, 44%) !important ;}
footer a {margin-right: 5% ;}
@media screen and (max-width: 800px) {
    
     
     }
     @media screen and (max-width: 768px) {
          section {padding-left: 4%; padding-right: 4%; max-width: 100%;}
          section > div > div {margin-top: 0% !important; max-width: 75%; margin-left: auto; margin-right: auto;}
          .row { margin-left: auto !important; margin-right: auto !important; }
          .btn {width: 80% !important; margin-bottom: 2%; margin-right: 0px !important;}
          p {text-align: center !important;}
          .heading{ text-align: center !important;}
          img {left:auto !important; margin-right: auto !important; margin-left: auto !important; 
               max-width: 100% !important;}
          .second_right {margin-top: 10% !important; margin-left: auto; margin-right: auto;}
          footer > div{max-width: 70%; margin-left: auto; margin-right: auto; text-align: center;}
          .tools_icon {margin-bottom:5% ;}
          .col-md-4 {margin-left: auto !important; margin-right: auto !important;}
          .companys_logo {margin-top:15%;}
          ul {margin-top: 0% !important;}
          li {margin-top:5% ;}
          footer a {margin-right:auto; margin-left: auto; margin-top: 8%; padding-bottom:10% ;}
          footer .container {max-width: 540px;}
     }
@media screen and (max-width: 600px) {
     section {padding-left: 4%; padding-right: 4%; max-width: 100%;}
     section > div > div {margin-top: 0% !important;}
     .row { margin-left: auto !important; margin-right: auto !important; }
     .btn {width: 80% !important; margin-bottom: 2%; margin-right: 0px !important;}
     p {text-align: center !important;}
     .heading{ text-align: center !important;}
     img {left:auto !important; margin-right: auto !important; margin-left: auto !important; 
          max-width: 100% !important;}
     .second_right {margin-top: 10% !important;}
     footer > div{max-width: 70%; margin-left: auto; margin-right: auto; text-align: center;}
     .tools_icon {margin-bottom:5% ;}
     .companys_logo {margin-top:15%;}
     ul {margin-top: 0% !important;}
     li {margin-top:5% ;}
     footer a {margin-right:auto; margin-left: auto; margin-top: 8%; padding-bottom:10% ;}

}